#random files
GRCh38_full_analysis_set_plus_decoy_hla.fa
hipref.bed
hipref_autosomal.bed
test_upload.txt
ukbio_file_list.txt
GRCh38_full_analysis_set_plus_decoy_hla.fa.fai

#generate 50 sample file id
get_crai.sh
ukbio_*_list.txt

