#random files
GRCh38_full_analysis_set_plus_decoy_hla.fa
hipref.bed
hipref_split_by_chromosome/
hipref_autosomal.bed
test_upload.txt
ukbio_file_list.txt
GRCh38_full_analysis_set_plus_decoy_hla.fa.fai
#downloaded results
results/

#generate 50 sample file id
get_crai.sh
ukbio_*_list*.txt

hipref_chr21.bed
random_*_crai*.txt
random_*_cram*.txt
random_*_cram_no_fileid.txt
samtool_index.wdl
samtool_index_input.json

wdl/job_log

